.site-header {
  @include absolute(0 0 n 0);
  z-index: $zIndex-1;
  height: $header-height;
}

.site-header__nav {
  width: 100%;
  @include container-padded;
  @include margin-auto;
  padding: $grid-padding;
}

.site-header__logo-link {
  display: flex;
  align-items: center;

  svg {
    stroke: $color-white;
    stroke-width: 20;
  }
}

.logo-link__hidden-text {
  color: $color-text--invert;
  padding-left: $spacing-md;
}