.map {
  position: relative;
  background-color: #cedddd;
  margin-bottom: $spacing-lg;

  &--home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

.map--home__wrapper {
  position: relative;
  transform-origin: top;

  @include mq(0, $md) {
    @media (orientation: portrait) {
      transform: scale(3);
    }
  }

  @include mq($md, $lg) {
    @media (orientation: portrait) {
      transform: scale(2);
    }

    @media (orientation: landscape) {
      transform: scale(1.35);
    }
  }

  @include mq($lg, $xl) {
    @media (orientation: portrait) {
      transform: scale(2);
    }

    @media (orientation: landscape) {
      transform: scale(1.5);
    }
  }

  @include mq($xl, $xxl) {
    @media (orientation: portrait) {
      transform: scale(1.5);
    }

    @media (orientation: landscape) {
      transform: scale(1.125);
    }
  }

  @include mq($xxl) {
    @media (orientation: portrait) {
      transform: scale(1.5);
    }

    @media (orientation: landscape) {
      transform: scale(1);
    }
  }

  .map__destination {
    opacity: 0;
  
    @for $i from 1 through 100 {
      &:nth-child( #{$i} ) {
        animation: fadeIn 2s #{$i * 0.025}s $customEase 1 forwards;
      }
    }
  }
}

.map__background {
  display: block;
  width: 100%;
}

.map__destination {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.75%;

  svg {
    width: 100%;
    height: auto;
    display: block;
    fill: rgba($color-accent, 0.6);
    mix-blend-mode: darken;
  }

  &--albania {
    top: 30.5%;
    left: 52.9%;
  }

  &--angola {
    top: 62%;
    left: 52.3%;
  }

  &--antarctica {
    top: 93.2%;
    left: 50%;
  }

  &--argentina {
    top: 77%;
    left: 29%;
  }

  &--armenia {
    left: 59.9%;
    top: 31.2%;
  }

  &--aruba {
    top: 48.2%;
    left: 27.3%;
  }

  &--australia {
    top: 71%;
    left: 85%;
  }

  &--austria {
    top: 25.5%;
    left: 51%;
  }

  &--azerbaijan {
    top: 31%;
    left: 61%;
  }

  &--barbados {
    top: 48.5%;
    left: 30.3%;
  }

  &--belgium {
    top: 23%;
    left: 48.5%;
  }

  &--belize {
    top: 45.5%;
    left: 22%;
  }

  &--benin {
    top: 50%;
    left: 47.8%;
  }

  &--bhutan {
    top: 39.5%;
    left: 73%;
  }

  &--bermuda {
    top: 36.9%;
    left: 28.9%;
}

  &--bolivia {
    top: 65%;
    left: 28.8%;
  }

  &--bosnia-and-herzegovina {
    top: 28.4%;
    left: 52.3%;
  }

  &--botswana {
    top: 67%;
    left: 54.3%;
  }

  &--brazil {
    top: 62%;
    left: 32%;
  }

  &--bulgaria {
    top: 29.5%;
    left: 54.5%;
  }

  &--cabo-verde {
    top: 46.2%;
    left: 41%;
  }

  &--cambodia {
    top: 48.5%;
    left: 77%;
  }

  &--cameroon {
    top: 52.8%;
    left: 50.8%;
  }

  &--canada {
    top: 20%;
    left: 18%;
  }

  &--canary-islands {
    top: 38.9%;
    left: 42.7%;
  }

  &--china {
    top: 38%;
    left: 78%;
  }

  &--chile {
    top: 77%;
    left: 26.5%;
  }

  &--colombia {
    top: 54%;
    left: 26%;
  }

  &--costa-rica {
    top: 49.5%;
    left: 23%;
  }

  &--côte-d’ivore {
    top: 51%;
    left: 45.7%;
  }

  &--croatia {
    top: 27.7%;
    left: 51.4%;
  }

  &--cyprus {
    top: 34.5%;
    left: 56.6%;
  }

  &--czech-republic {
    top: 23.8%;
    left: 51.5%;
  }

  &--denmark {
    top: 18.3%;
    left: 49.8%;
  }

  &--dominica {
    top: 47%;
    left: 29.1%;
  }

  &--dominican-republic {
    top: 44.2%;
    left: 27.2%;
  }

  &--ecuador {
    top: 55.8%;
    left: 24.5%;
  }

  &--egypt {
    top: 41%;
    left: 55.5%;
  }

  &--england,
  &--uk,
  &--united-kingdom {
    top: 22%;
    left: 47%;
  }

  &--eswatini {
    top: 69.8%;
    left: 56.2%;
  }

  &--estonia {
    top: 15.5%;
    left: 54.8%;
  }

  &--ethiopia {
    top: 51%;
    left: 58.5%;
  }

  &--falkland-islands,
  &--the-falkland-islands {
    top: 87.5%;
    left: 30.3%; 
  }

  &--faroe-islands {
    top: 11.5%;
    left: 45.2%;
  }

  &--fiji {
    top: 66%;
    left: 96.8%;
  }

  &--finland {
    top: 11%;
    left: 54.6%;
  }

  &--france {
    top: 26%;
    left: 48%;
  }

  &--germany {
    top: 24%;
    left: 50%;
  }

  &--georgia {
    left: 59.5%;
    top: 29.8%;
  }

  &--ghana {
    top: 51%;
    left: 46.9%;
  }

  &--gibraltar {
    top: 33.7%;
    left: 45.6%;
  }

  &--greece {
    top: 32%;
    left: 53.5%;
  }

  &--greenland {
    top: 5%;
    left: 35%;
  }

  &--guatemala {
    top: 46.5%;
    left: 21.5%;
  }

  &--guyana {
    top: 52%;
    left: 30.4%;
  }

  &--hong-kong {
    top: 42.2%;
    left: 80%;
  }

  &--hungary {
    top: 26%;
    left: 52.7%;
  }

  &--iceland {
    top: 8.5%;
    left: 42%;
  }

  &--india {
    top: 45%;
    left: 69%;
  }

  &--indonesia {
    top: 56%;
    left: 81%;
  }

  &--ireland {
    left: 45%;
    top: 21%;
  }

  &--israel {
    top: 37.2%;
    left: 57.1%;
  }

  &--italy {
    top: 29.2%;
    left: 50.8%;
  }

  &--jamaica {
    top: 44.6%;
    left: 25.1%;
  }

  &--japan {
    top: 33.5%;
    left: 86.5%;
  }

  &--jordan {
    top: 37.5%;
    left: 57.5%;
  }

  &--kazakhstan {
    top: 24%;
    left: 67%;
  }

  &--kenya {
    top: 55%;
    left: 58%;
  }

  &--kiribati {
    top: 55%;
    left: 3%;
  }

  &--korea {
    top: 33.5%;
    left: 83.5%;
  }

  &--kosovo {
    top: 29.3%;
    left: 53.2%;
  }

  &--kuwait {
    top: 38.3%;
    left: 60.8%;  
  }

  &--kyrgyzstan {
    top: 30.3%;
    left: 68.5%;
  }

  &--laos {
    top: 46.3%;
    left: 77.4%;
  }

  &--latvia {
    top: 17%;
    left: 53.8%;
  }

  &--liberia {
    top: 51.4%;
    left: 44.5%;
  }

  &--liechtenstein {
    top: 26%;
    left: 49.9%;
  }  

  &--lithuania {
    top: 19%;
    left: 54%;
  }

  &--luxembourg {
    top: 23.5%;
    left: 48.9%;
  }

  &--madagascar {
    top: 65.5%;
    left: 60.4%;
  }

  &--malawi {
    top: 62%;
    left: 56.8%;
  }

  &--malaysia {
    top: 52.3%;
    left: 76.1%;
  }

  &--malta {
    top: 34%;
    left: 51%;
  }

  &--mauritius {
    top: 66%;
    left: 63.6%;
  }

  &--mexico {
    top: 42%;
    left: 18%;
  }

  &--mongolia {
    top: 27%;
    left: 76%;
  }

  &--montenegro {
    top: 29.4%;
    left: 52.8%;
  }

  &--morocco {
    top: 37%;
    left: 45.5%;
  }

  &--mozambique {
    top: 68.1%;
    left: 56.8%;
  }

  &--myanmar {
    top: 44%;
    left: 74.6%;    
  }

  &--namibia {
    top: 67.5%;
    left: 52.3%;
  }

  &--nepal {
    top: 38.7%;
    left: 71%;
  }

  &--new-zealand,
  &--aotearoa {
    top: 81%;
    left: 96%;
  }

  &--northern-ireland {
    top: 19.5%;
    left: 45.3%;
  }

  &--north-macedonia {
    top: 30.1%;
    left: 53.4%;
  }

  &--norway {
    top: 13%;
    left: 49.5%;
  }

  &--oman {
    top: 43.5%;
    left: 63.3%;
  }

  &--palestine {
    top: 37.2%;
    left: 57.1%;
  }

  &--panama {
    top: 49.9%;
    left: 24.5%;
  }

  &--paraguay {
    top: 68%;
    left: 30.5%;
  }

  &--peru {
    top: 61%;
    left: 25.5%;
  }

  &--philippines,
  &--the-philippines {
    top: 49%;
    left: 82.3%;
  }

  &--poland {
    top: 22.5%;
    left: 52.5%;    
  }

  &--portugal {
    top: 32.5%;
    left: 44.8%;
  }

  &--puerto-rico {
    top: 44.6%;
    left: 28.3%;
  }

  &--qatar {
    top: 40.4%;
    left: 61.8%;  
  }

  &--romania {
    top: 27.6%;
    left: 54.4%;
  }

  &--rwanda {
    top: 55.5%;
    left: 55.7%;
  }

  &--saint-lucia {
    top: 48%;
    left: 29.3%;
  }

  &--samoa {
    top: 63.5%;
    left: 98.5%;
  }

  &--senegal {
    top: 46.7%;
    left: 42.8%;
  }

  &--serbia {
    top: 28.4%;
    left: 53.2%;
  }

  &--seychelles {
    top: 60%;
    left: 61.4%;
  }

  &--singapore {
    top: 53.8%;
    left: 76.6%;
  }

  &--slovakia {
    top: 24.7%;
    left: 53.2%;
  }

  &--south-africa {
    top: 73%;
    left: 53.5%;
  }

  &--south-georgia-and-the-south-shetlands {
    top: 93.2%;
    left: 29.2%; 
  }

  &--south-korea {
    top: 33.5%;
    left: 83.5%;
  }

  &--scotland {
    top: 17%;
    left: 46%;
  }

  &--slovenia {
    top: 26.5%;
    left: 51.5%;
  }

  &--spain {
    top: 31%;
    left: 46.5%;
  }

  &--sri-lanka {
    top: 51%;
    left: 70.1%;
  }

  &--sweden {
    top: 15%;
    left: 51.5%;
  }

  &--switzerland {
    top: 26%;
    left: 49.5%;
  }

  &--taiwan {
    top: 41.8%;
    left: 81.6%;
  }

  &--tanzania {
    top: 59.5%;
    left: 57.4%;
  }

  &--thailand {
    top: 46%;
    left: 76%;
  }

  &--the-netherlands {
    top: 21.5%;
    left: 48.7%;
  }

  &--timor-leste {
    top: 59.6%;
    left: 83%;
  }

  &--togo {
    top: 50.7%;
    left: 47.5%;
  }

  &--trinidad-and-tobago {
    top: 49%;
    left: 29.75%;
  }

  &--tunisia {
    top: 36%;
    left: 50%;
  }

  &--turkey {
    left: 56.5%;
    top: 32%;
  }

  &--tuvalu {
    top: 56%;
    left: 96.8%;
  }

  &--uganda {
    top: 54.5%;
    left: 56.5%;
  }

  &--united-arab-emirates {
    top: 42.1%;
    left: 62.6%;    
  }
  
  &--uruguay {
    top: 74%;
    left: 31.3%;
  }
  
  &--usa {
    top: 34%;
    left: 20%;
  }

  &--uzbekistan {
    top: 31.3%;
    left: 65.8%;
  }

  &--vietnam {
    top: 48%;
    left: 78%;
  }

  &--wales {
    top: 21%;
    left: 46%;
  }

  &--zambia {
    top: 63.2%;
    left: 54.7%;
  }

  &--zimbabwe {
    top: 65.6%;
    left: 55.7%;
  }
}