.map {
  position: relative;
  margin-bottom: $spacing-lg;

  &--home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

.map--home__wrapper {
  position: relative;
  transform-origin: top;

  @include mq(0, $md) {
    @media (orientation: portrait) {
      transform: scale(3);
    }
  }

  @include mq($md, $lg) {
    @media (orientation: portrait) {
      transform: scale(2);
    }

    @media (orientation: landscape) {
      transform: scale(1.35);
    }
  }

  @include mq($lg, $xl) {
    @media (orientation: portrait) {
      transform: scale(2);
    }

    @media (orientation: landscape) {
      transform: scale(1.5);
    }
  }
}

.map__background {
  display: block;
  width: 100%;
}

.map__destination {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.75%;

  svg {
    width: 100%;
    height: auto;
    display: block;
    fill: rgba($color-accent, 0.6);
    mix-blend-mode: darken;
  }

  &--argentina {
    top: 77%;
    left: 29%;
  }

  &--australia {
    top: 71%;
    left: 85%;
  }

  &--austria {
    top: 25.5%;
    left: 51%;
  }

  &--azerbaijan {
    top: 31%;
    left: 61%;
  }

  &--barbados {
    top: 48.5%;
    left: 30.3%;
  }

  &--bhutan {
    top: 39.5%;
    left: 73%;
  }

  &--botswana {
    top: 67%;
    left: 54.3%;
  }

  &--brazil {
    top: 62%;
    left: 32%;
  }

  &--bulgaria {
    top: 29.5%;
    left: 54.5%;
  }

  &--cambodia {
    top: 48.5%;
    left: 77%;
  }

  &--canada {
    top: 20%;
    left: 18%;
  }

  &--china {
    top: 38%;
    left: 78%;
  }

  &--chile {
    top: 77%;
    left: 26.5%;
  }

  &--colombia {
    top: 54%;
    left: 26%;
  }

  &--costa-rica {
    top: 49.5%;
    left: 23.2%;
  }

  &--denmark {
    top: 18.3%;
    left: 49.8%;
  }

  &--ecuador {
    top: 55.8%;
    left: 24.5%;
  }

  &--egypt {
    top: 41%;
    left: 55.5%;
  }

  &--england,
  &--uk {
    top: 22%;
    left: 47%;
  }

  &--estonia {
    top: 15.5%;
    left: 54.8%;
  }

  &--ethiopia {
    top: 51%;
    left: 58.5%;
  }

  &--fiji {
    top: 66%;
    left: 96.8%;
  }

  &--france {
    top: 26%;
    left: 48%;
  }

  &--germany {
    top: 24%;
    left: 50%;
  }

  &--ghana {
    top: 51%;
    left: 45.7%;
  }

  &--greece {
    top: 32%;
    left: 53.5%;
  }

  &--greenland {
    top: 5%;
    left: 35%;
  }

  &--guatemala {
    top: 46.5%;
    left: 21.5%;
  }

  &--hungary {
    top: 26%;
    left: 52.7%;
  }

  &--iceland {
    top: 8.5%;
    left: 42%;
  }

  &--india {
    top: 45%;
    left: 69%;
  }

  &--indonesia {
    top: 56%;
    left: 81%;
  }

  &--ireland {
    left: 45%;
    top: 21%;
  }

  &--israel {
    top: 37.2%;
    left: 57.1%;
  }

  &--italy {
    top: 29.2%;
    left: 50.8%;
  }

  &--japan {
    top: 33.5%;
    left: 86.5%;
  }

  &--jordan {
    top: 37.5%;
    left: 57.5%;
  }

  &--kazakhstan {
    top: 24%;
    left: 67%;
  }

  &--kenya {
    top: 55%;
    left: 58%;
  }

  &--kyrgyzstan {
    top: 30.3%;
    left: 68.5%;
  }

  &--latvia {
    top: 17%;
    left: 53.8%;
  }

  &--lithuania {
    top: 19%;
    left: 54%;
  }

  &--madagascar {
    top: 65.5%;
    left: 60.4%;
  }

  &--malawi {
    top: 62%;
    left: 56.8%;
  }

  &--malaysia {
    top: 52.3%;
    left: 76.1%;
  }

  &--malta {
    top: 34%;
    left: 51%;
  }

  &--mauritius {
    top: 66%;
    left: 63.6%;
  }

  &--mexico {
    top: 42%;
    left: 18%;
  }

  &--mongolia {
    top: 27%;
    left: 76%;
  }

  &--morocco {
    top: 37%;
    left: 45.5%;
  }

  &--myanmar {
    top: 44%;
    left: 74.6%;    
  }

  &--nepal {
    top: 38.7%;
    left: 71%;
  }

  &--new-zealand {
    top: 81%;
    left: 96%;
  }

  &--norway {
    top: 13%;
    left: 49.5%;
  }

  &--panama {
    top: 49.9%;
    left: 24.5%;
  }

  &--paraguay {
    top: 68%;
    left: 30.5%;
  }

  &--peru {
    top: 61%;
    left: 25.5%;
  }

  &--philippines {
    top: 49%;
    left: 82.3%;
  }

  &--poland {
    top: 22.5%;
    left: 52.5%;    
  }

  &--portugal {
    top: 32.5%;
    left: 44.8%;
  }

  &--puerto-rico {
    top: 44.6%;
    left: 28.3%;
  }

  &--rwanda {
    top: 55.5%;
    left: 55.7%;
  }

  &--samoa {
    top: 63.5%;
    left: 98.5%;
  }

  &--singapore {
    top: 53.8%;
    left: 76.6%;
  }

  &--south-africa {
    top: 73%;
    left: 53.5%;
  }

  &--south-korea {
    top: 33.5%;
    left: 83.5%;
  }

  &--scotland {
    top: 17%;
    left: 46%;
  }

  &--slovenia {
    top: 26.5%;
    left: 51.5%;
  }

  &--spain {
    top: 31%;
    left: 46.5%;
  }

  &--sweden {
    top: 15%;
    left: 51.5%;
  }

  &--switzerland {
    top: 26%;
    left: 49.5%;
  }

  &--tanzania {
    top: 59.5%;
    left: 57.4%;
  }

  &--thailand {
    top: 46%;
    left: 76%;
  }

  &--the-netherlands {
    top: 21.5%;
    left: 48.7%;
  }

  &--trinidad-and-tobago {
    top: 49%;
    left: 29.75%;
  }

  &--tunisia {
    top: 36%;
    left: 50%;
  }

  &--uganda {
    top: 54.5%;
    left: 56.5%;
  }

  &--usa {
    top: 34%;
    left: 20%;
  }

  &--uzbekistan {
    top: 31.3%;
    left: 65.8%;
  }

  &--vietnam {
    top: 48%;
    left: 78%;
  }

  &--wales {
    top: 21%;
    left: 46%;
  }
}