.tease-grid-intro {
  margin: $spacing-xxl 0 $spacing-xl;
}

.tease-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: $spacing-xl;
}

.tease-figure {
  background-color: $color-accent;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: $spacing-md;
}

.tease-figure__img {
  display: block;
  @include animate;
}

.tease__link {
  &:hover, &:focus {
    .tease-figure__img {
      transform: scale(1.03);
      opacity: 0.9;    
    }
  }
}

.tease__name {
  @include heading-4;
  margin-bottom: 0;
  font-family: $font-family-sans;
}