.travel-images {
  @include mq($md) {
    columns: 2;
    column-width: 50%;
    column-gap: $spacing-lg;
  }

  @include mq($xxl) {
    columns: 3;
  }
}

.travel-images__figure {
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: $grid-padding;

  @include mq($md) {
    display: inline-block;
    padding-bottom: 1.5rem;
  }

  &.js-inview {
    .travel-images__img {
      opacity: 0;
      @include animate(opacity, 2s, 0);
      will-change: opacity;
    }
  }

  &.js-inview--visible {
    .travel-images__img {
      opacity: 1;
    }
  }
}

.travel-images__img {
  display: block;
  width: 100%;
}