Redirect 301 /fellows/adaja-cooper.html https://fellows.watson.foundation/2024-Summer/fellows/adaja-cooper.html
Redirect 301 /fellows/adi-sandoval.html https://fellows.watson.foundation/2024-Summer/fellows/adi-sandoval.html
