Redirect https://fellows.watson.foundation/fellows/adi-sandoval.html /https://fellows.watson.foundation/2024-Summer/fellows/adaja-cooper.html
Redirect https://fellows.watson.foundation/fellows/adi-sandoval.html https://fellows.watson.foundation/2024-Summer/fellows/adi-sandoval.html
