$customEase: cubic-bezier(0.16, 1, 0.3, 1);

/* 
////////////////////////////////////////////////////////////////////////////
Animate all properties
////////////////////////////////////////////////////////////////////////////
*/

@mixin animate ($property:all, $duration: 0.75s, $delay: 0) {
  transition-property: $property;
  transition-duration: $duration;
  transition-delay: $delay;
  transition-timing-function: $customEase;
}

