$customEase: cubic-bezier(0.16, 1, 0.3, 1);

/* 
////////////////////////////////////////////////////////////////////////////
Animate all properties
////////////////////////////////////////////////////////////////////////////
*/

@mixin animate {
  transition-property: all;
  transition-duration: .75s;
  transition-timing-function: $customEase;
}

