/* 
////////////////////////////////////////////////////////////////////////////
Basic font style mixins
////////////////////////////////////////////////////////////////////////////
*/

@mixin font-regular { 
  font-family: $font-family-base;
}

@mixin font-bold { 
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
}

@mixin font-black { 
  font-family: $font-family-base;
  font-weight: $font-weight-black;
}

@mixin font-italic { 
  font-family: $font-family-base;
  font-style:   italic;
}

@mixin font-bold-italic { 
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  font-style:   italic;
}

@mixin font-heading { 
  font-family: $font-family-heading;
  font-weight: $font-weight-medium;
}

@mixin font-mono {
  font-family: $font-family-monospace;
}

@mixin font-mono-bold {
  font-family: $font-family-monospace;
  font-weight: $font-weight-bold;
}


/* 
////////////////////////////////////////////////////////////////////////////
Block-level typographic elements
////////////////////////////////////////////////////////////////////////////
*/

@mixin link {
  color: $color-link;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-link--active;
    text-decoration: underline;
  }
}

@mixin body-text {
  @include font-regular;
  color: $color-text;
  font-size: $font-size-base; 
  line-height: $line-height-base;

  a {
    @include link;
  }
}

@mixin heading-text {
  @include font-heading;
  color: $color-heading;
  line-height: $line-height-heading;
  margin: $font-margin--heading;

  a {
    @include link;
  }
}

@mixin heading-1 {
  @include heading-text;
  font-size: $font-size-h2;

  @include mq($md) {
    font-size: $font-size-h1;
  }
}

@mixin heading-2 {
  @include heading-text;
  font-size: $font-size-h3;

  @include mq($md) {
    font-size: $font-size-h2;
  }
}

@mixin heading-3 {
  @include heading-text;
  font-size: $font-size-h4;

  @include mq($md) {
    font-size: $font-size-h3;
  }
}

@mixin heading-4 {
  @include heading-text;
  font-size: $font-size-h4; 
}

@mixin heading-5 {
  @include heading-text;
  font-size: $font-size-h5; 
}

@mixin heading-6 {
  @include heading-text;
  font-size: $font-size-h6; 
}

@mixin paragraph {
  @include body-text;
  margin: $font-margin--body;
}

@mixin li {
  @include body-text;
}


/* 
////////////////////////////////////////////////////////////////////////////
Stylistic applications
////////////////////////////////////////////////////////////////////////////
*/

@mixin ul-null {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin caps {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin smallcaps {
  @include caps;
  color: $color-heading;
}

@mixin small {
  font-size: $font-size-small;
}

@mixin text-shadow {
  text-shadow: 0 0 50px rgba($color-black,0.5);
}
