
/* 
////////////////////////////////////////////////////////////////////////////
Color variables
////////////////////////////////////////////////////////////////////////////
*/

$color-black: #000;
$color-white: #fff;

$color-gray: #878787;
$color-gray-dark: #1c1c1c;
$color-gray-light: #f5f4f4;

$color-red: #f53d46;


/* 
////////////////////////////////////////////////////////////////////////////
Standard applications of color variables
////////////////////////////////////////////////////////////////////////////
*/

$color-base: $color-gray;

$color-background: $color-white;
$color-background--tint: $color-gray-light;

$color-text: $color-base;
$color-text--light: lighten($color-text, 30%);
$color-text--invert: $color-white;

$color-heading: $color-gray-dark;
$color-caption: $color-text;

$color-link: $color-red;
$color-link--active: $color-red;

$color-selection-bg: rgba($color-link,.2);
$color-selection-text: $color-text;

$color-button: $color-link;
$color-button--active: $color-link--active;
$color-button-text: $color-text--invert;

$color-border: $color-gray-light;

$color-accent: $color-red;



/* 
////////////////////////////////////////////////////////////////////////////
Typographic variables
////////////////////////////////////////////////////////////////////////////
*/

$font-family-sans: "Avenir W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Archer SSm A", "Archer SSm B", Georgia, "Times New Roman", Times, serif;
$font-family-display: $font-family-serif;

$sans: $font-family-sans;
$serif: $font-family-serif;
$display: $font-family-display;

$font-family-base: $font-family-sans;
$font-family-heading: $font-family-serif;


$font-size-base: 1.2rem;


$font-size-h1: $font-size-base*3; 
$font-size-h2: $font-size-base*2; 
$font-size-h3: $font-size-base*1.5; 
$font-size-h4: $font-size-base*1.2; 
$font-size-h5: $font-size-base; 
$font-size-h6: $font-size-base*0.8;

$font-size-p: $font-size-base;
$font-size-small: $font-size-base*0.8;

$font-size-caption: $font-size-small;


$line-height-base: 1.7;
$line-height-small: 1.2;
$line-height-body: $line-height-base;
$line-height-p: $line-height-base;
$line-height-heading: $line-height-small;

$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 800;



/* 
////////////////////////////////////////////////////////////////////////////
Layout/spacing variables
////////////////////////////////////////////////////////////////////////////
*/

$spacing-xxs: .25rem;
$spacing-xs: .5rem;
$spacing-sm: .75rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 5rem;

$font-margin--body: 0 0 $spacing-md;
$font-margin--heading: 0 0 $spacing-md;

$header-height: 70px;

$spacing-section: $spacing-xl;

$grid-padding: 5%;
$container-max-width: 1400px;



/* 
////////////////////////////////////////////////////////////////////////////
Breakpoints
////////////////////////////////////////////////////////////////////////////
*/


$sm: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1400px;
$xxl: 2400px;


/* 
////////////////////////////////////////////////////////////////////////////
z-index
////////////////////////////////////////////////////////////////////////////
*/

$zIndex-0: 1;
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;


