.fellow-name-group {
  @include mq($md) {
    display: flex;
    align-items: flex-end;
    gap: $spacing-md;
  }
}

.fellow-name {
  font-family: $font-family-sans;
  font-weight: $font-weight-regular;
  margin-bottom: 0;
}

.fellow-pronouns {
  @include text-shadow;
  color: $color-text--invert;
  opacity: 0.75;
  margin-bottom: 0;
  @include mq($md) {
    margin-bottom: $spacing-xxs;
  }
}

.fellow-school {
  @include heading-3;
  @include text-shadow;
  color: $color-text--invert;
  opacity: 0.75;
  margin-top: $spacing-xs;
}

.fellow-profile {
  margin-bottom: $spacing-section;

  @include mq($md) {
    display: flex;
    align-items: flex-start;
  }
}

.fellow-profile__img {
  @include mq($md) {
    width: 30%;
    padding-right: $spacing-lg;    
  }

  @include mq($lg) {
    width: 25%;
    padding-right: $spacing-lg;    
  }

  img {
    display: block;
    border-radius: 50%;
  }
}

.fellow-profile__text {
  @include mq($md) {
    width: 60%;
  }

  @include mq($lg) {
    width: 50%;
  }
}

.fellow-countries {
  @include ul-null;
  line-height: $line-height-small;
  margin-bottom: 0;
}

.fellow-country {
  @include small;
  display: inline;  
}

.fellow-email {
    margin: $spacing-lg 0 $spacing-xxl;
}