
/* 
////////////////////////////////////////////////////////////////////////////
Styles not specific to any particular site page. Place things like "general" paragraph styles, heading styles, base list styles, etc. here.

If you're calling the container mixin, you can define a custom max-width. Otherwise, the max-width's default value is 81.25em (1300px)

.container {
  @include container(70em);
}
////////////////////////////////////////////////////////////////////////////
*/


* {
  box-sizing: border-box;
}

html {
  font-size: 1em; /* change this for different breakpoints to make a responsive typographic scale */
  scroll-behavior: smooth;
  background-color: $color-accent;
  }

body {
  @include body-text;
  position: relative;
  background-color: $color-background;
}

::selection {
  background: $color-selection-bg; 
  color: $color-selection-text;
}

::-moz-selection { /* Firefox */
  background: $color-selection-bg; 
  color: $color-selection-text;
}


.container {
  @include container;
  @include margin-auto;
}

.container-padded {
  @include container-padded;
  @include margin-auto;
}

main {
  @extend .container-padded;
  margin-top: $spacing-section;
  margin-bottom: $spacing-section;
}

.page-hero {
  min-height: 75vh;
  display: flex;
  align-items: flex-end;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.page-title {
  @include container-padded;
  @include margin-auto;
  padding-bottom: $spacing-lg;
  width: 100%;
}

.page-title__heading {
  color: $color-text--invert;
}

