
/* 
////////////////////////////////////////////////////////////////////////////
Styles not specific to any particular site page. Place things like "general" paragraph styles, heading styles, base list styles, etc. here.

If you're calling the container mixin, you can define a custom max-width. Otherwise, the max-width's default value is 81.25em (1300px)

.container {
  @include container(70em);
}
////////////////////////////////////////////////////////////////////////////
*/


* {
  box-sizing: border-box;
}

html {
  font-size: 1em; /* change this for different breakpoints to make a responsive typographic scale */
  scroll-behavior: smooth;
  }

body {
  background-color: $color-gray-dark;
  @include body-text;
  position: relative;
}

::selection {
  background: $color-selection-bg; 
  color: $color-selection-text;
}

::-moz-selection { /* Firefox */
  background: $color-selection-bg; 
  color: $color-selection-text;
}


.container {
  @include container;
  @include margin-auto;
}

.container-padded {
  @include container-padded;
  @include margin-auto;
}

main {
  position: relative;
  background-color: $color-white;
  padding: $spacing-section $grid-padding;
}

.page-hero {
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: flex-end;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &.js-inview {
    &::after {
      content: "";
      @include absolute(0 0 0 0);
      @include animate(opacity, 3.5s, 0.25s);
      background-color: $color-gray-dark;
    }
  }

  &.js-inview--visible {
    &::after {
     opacity: 0; 
    }
  }
}


.page-title {
  position: relative;
  z-index: $zIndex-0;
  padding: 0 $grid-padding $spacing-lg;
  width: 100%;
  background: linear-gradient(0deg, rgba($color-black,.25), transparent);
}

.page-title__heading {
  color: $color-text--invert;
  @include text-shadow;
}

