<!doctype html>
<html>
  {% include head.html %}

  <body class="fellow">
    {% include header.html %}

    <figure class="page-hero js-inview">
      <img src="{{ site.baseurl }}/images/hero/{{ page.slug }}-hero.jpg" class="page-hero__img" alt="{{ page.title }}">
      <div class="page-title">
        <div class="container">
          <h1 class="page-title__heading fellow-name">{{ page.title }}</h1>
          <p class="fellow-school">{{ page.school }}</p>
        </div>
      </div>
    </figure>

    <main class="main--fellow">
      <div class="container">
        <div class="fellow-profile">
          <figure class="fellow-profile__img">
            <img src="{{ site.baseurl }}/images/profiles/{{ page.slug }}.jpg" alt="{{ page.title }}" width="280">
          </figure>

          <div class="fellow-profile__text">
            <p class="smallcaps">Project</p>
            <h2>{{ page.project }}</h2>

            {% if page.countries %}
              <ul class="fellow-countries">
                {% for country in page.countries %}
                  <li class="fellow-country">{{ country }}</li>{% unless forloop.last %},{% endunless %}
                {% endfor %}
              </ul>
            {% endif %}

            <p class="fellow-email"><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>

            {{ content }}
          </div>
        </div>
      </div>

      {% include map.html %}

      {% include travel-images.html %}

      {% include tease-grid.html %}

    </main>

    {% include footer.html %}
  </body>
</html>
