<!doctype html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <figure>
      <img src="{{ site.baseurl }}/images/profiles/{{ page.slug }}.jpg" alt="{{ page.title }}" width="280">
    </figure>

    <p><strong>Fellow name:</strong></p>
    <h1>{{ page.title }}</h1>

    <hr>
    <p><strong>Project:</strong></p>
    <h2>{{ page.project }}</h2>

    {% if page.countries %}
    <div style="position: relative;">
      <img src="{{ site.baseurl }}/images/map.png" alt="map" width="80%" style="display:block;margin:1em auto;">
  
      <div style="position: absolute; top:50%; left:1em; width:100%; transform:translateY(-50%);">
        <p><strong>Countries visited:</strong></p>
        <ul>
          {% for country in page.countries %}
            <li>{{ country.name }}</li>
          {% endfor %}
        </ul>      
      </div>

    </div>
    {% endif %}

    <br>
    <hr>
    <p><strong>Body text:</strong></p>
    {{ content }}

    <br>
    <hr>
    <p><strong>Slideshow images:</strong></p>
    {% for image in site.static_files %}
      {% if image.path contains 'travel' and image.name contains page.slug %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ page.title }} traveling with the Watson Foundation" />
      {% endif %}
    {% endfor %}

    {% include footer.html %}
  </body>
</html>
