<!doctype html>
<html>
  {% include head.html %}

  <body class="home">
    {% include header.html %}

    <figure class="page-hero" style="background-image: url({{ site.baseurl }}/images/homepage-map.png);">
      <div class="page-title">
        <h1 class="page-title__heading">{{ site.title }}</h1>
      </div>
    </figure>

    <div class="container-padded">
      {{ content }}

      <p class="smallcaps">2019 Fellows</p>

      <div class="tease-grid">
        {% for fellow in site.fellows %}
          {% include tease-fellow.html %}
        {% endfor %}            
      </div>
      
    </div>

    {% include footer.html %}
  </body>
</html>

