<!doctype html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}

    <figure class="page-hero js-inview">

      {% include map-home.html %}

      <div class="page-title">
        <div class="container">
          <h1 class="page-title__heading">{{ site.title }}</h1>
        </div>
      </div>
    </figure>

    <main class="main--home">
      <div class="container">
        <div class="home-content">
          {{ content }}
        </div>
      </div>

      {% include tease-grid.html %}
        
    </main>

    {% include footer.html %}


    <script>
    // Preload all hero images
    $(document).ready(function() {
      var $container = $('.preload-img');
      var gifs = new Array();

      {% assign directory_url = 'images' | prepend: site.baseurl %}
      {% for file in site.static_files %}
        {% if file.path contains directory_url and file.path contains "hero" %}
            {% assign type = file.path | split: '/' | last | split: '.' | last %}
            {% if type == "jpg" or type == "jpeg" or type == "png" %}
              gifs.push('url({{ file.path }}) no-repeat -9999px -9999px');
            {% endif %}
        {% endif %}
      {% endfor %}

      $container.css(
        'background', gifs
      );
    });
    </script>

  </body>
</html>
