<!doctype html>
<html>
  {% include head.html %}

  <body class="home">
    {% include header.html %}

    <figure class="page-hero js-inview" style="background-image: url({{ site.baseurl }}/images/homepage-map.png);">
      <div class="page-title">
        <div class="container">
          <h1 class="page-title__heading">{{ site.title }}</h1>
        </div>
      </div>
    </figure>

    <main class="main--home">
      <div class="container">
        <div class="home-content">
          {{ content }}
        </div>
      </div>

      {% include tease-grid.html %}
        
    </main>

    {% include footer.html %}
  </body>
</html>