<html>
 <head>
     <meta charset="utf-8"/>
     <meta http-equiv="refresh" content="1;url=/{{ page.class }}/fellows/{{ page.slug }}"/>
     <link rel="canonical" href="/{{ page.class }}/fellows/{{ page.slug }}"/>
     <script type="text/javascript">
             window.location.href = "/{{ page.class }}/fellows/{{ page.slug }}"
     </script>
     <title>Page Redirection</title>
 </head>
 <body>
 If you are not redirected automatically, follow <a href='/{{ page.class }}/fellows/{{ page.slug }}'>this link</a>.
 </body>
 </html>